rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth.uid != null
      // && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    function timeRule(){
      return request.time < timestamp.date(2022, 6, 11);
    }

  // match calls collection
    match /calls/{call}{
      allow read, write: if  timeRule();
    // match messages sub collection
      match /messages/{message}{
        allow read, write: if  timeRule();
      }
    // match callEvents sub collection
      match /callEvents/{callEvent}{
        allow read, write: if  timeRule();
      }
    }
  // match users collection
    match /users/{user}{
      allow read, write: if  timeRule();
    // match contacts sub collection
      match /contacts/{contact}{
        allow read, write,update: if  timeRule();
      }
    // match medicalData sub collection
      match /medicalData/{medicalData}{
        allow read, write: if  timeRule();
      }
    }
  // match contacts collection group
    match /{path=**}/contacts/{contact} {
      allow read, write: if  timeRule();
    }
  }
}